{% extends 'base.html' %} <!-- uvoizim sadržaj base.html -->
{% load static %} <!-- uvoizim static fajle -->

<!-- blok za css fajlove -->
{% block styles %}

{% endblock styles %}

{% block title %}Reset password{% endblock title %}<!-- ovdje se menja title -->


<!-- blok za JS static fajlova -->
{% block scripts %}

{% endblock scripts %}

<!-- blok za sadržaj -->
{% block content %}
  <h2>Postavite novu lozinku</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Spremi novu lozinku</button>
  </form>
{% endblock %}
