.inp_style{
    border: none; /* Uklanja sve ivice oko input polja */
    border-bottom: 2px solid #282828d5; /* Dodaje samo donju crtu */
    outline: none; /* Uklanja outline prilikom selektovanja */
    background: none; /* Uklanja pozadinsku boju */
    padding: 5px 0; /* Daje padding samo sa strane */
    font-size: 16px; /* Opcionalno, prilagoditi veličinu fonta */
    box-shadow: 0px 3px 0px   rgba(205, 248, 15, 0.893);
    font-size: 150%;
    text-align: center;
}
.size{
    height: 40px;
    width: 190px;
    font-size: 25px;
    color: grey;
}
.profile_style{
    margin: 0;
    padding: 0;
    margin-left: 10%;
    
}   