
{% extends 'base.html' %} <!-- uvoizim sadržaj base.html -->

{% block title %}{{ blog.title }}{% endblock title %} <!-- ovdje se menja title -->

{% load static %} <!-- uvoizim static fajle -->

{%block css%}
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/blog_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<link rel="stylesheet" href="{% static 'css/comment.css' %}">
{%endblock css%}

<!-- blok za JS static fajlova -->
{% block scripts %}
<script src="{% static 'js/slider.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/alert.js' %}"></script>
<script src="{% static 'js/comment.js' %}"></script>
<script src="{% static 'js/likes.js' %}"></script>
{% endblock scripts %}

<!-- blok za sadržaj -->
{% block content %}

<div class="blog_detail">

        <div id="slider-wrapper">
            <div id="image-slider">
        

                <ul>
                    {% for image in blog.images.all %}
                    <li class="active-img">
                        <img src="{{ image.image.url }}" alt="Slika za blog {{ blog.title }}" >
                    </li>
                    {%endfor%}
                </ul>

            </div>
        
            <div id="thumbnail">
                {% for image in blog.images.all %}
                <ul>
                    <li><img src="{{ image.image.url }}" alt="Slika za blog {{ blog.title }}" ></li>
                </ul>
                {% endfor %}
            </div>
        </div>
        
        <div class="text">
            <h1 style="font-weight: bold; text-align: center;">{{blog.title}}</h1>
            <p>Author:  <a href="{% url 'profile' blog.author.pk %}" style="text-decoration: none;">{{blog.author.first_name}} {{blog.author.last_name}}</a></p>

            <p>{{blog.content|safe}}</p>

        </div>

        <div class="row" style="text-align: center;">
            <div class="left_left">
                <h5>{{blog.created_at.day}} {{ blog.created_at|date:"F" }}</h5>
    
                <h1>{{ blog.created_at|date:"Y" }}</h1>
            </div>
            <div class="left_right">
               <table>
                    <tr>
                        <td><i class="fa fa-eye fa-2x"></i></td>
                        <td>
                            {% if user.is_authenticated %}
                                <span id="like-button" data-blog-id="{{ blog.id }}" style="cursor: pointer;">
                                    {% if is_liked %}
                                        <i id="heart-icon" class="fa fa-heart fa-2x" style="color: red;"></i>
                                    {% else %}
                                        <i id="heart-icon" class="fa fa-heart-o fa-2x"></i>
                                    {% endif %}
                                </span>
                            {% else %}
                                <i class="fa fa-heart-o fa-2x"></i>
                            {% endif %}
                        </td>
                        <td><i class="fa fa-comments-o fa-2x"></i></td>
                    </tr>
                    <tr>
                        <td>{{ blog.views }}</td>
                        <td id="like-count">{{ blog.likes.count }}</td>
                        <td>{{ blog.comments.count }}</td>
                        {% if user.is_authenticated and blog.author == user%}
                        <td class="p-0 m-0" style="width: 100px;"><a href="{% url 'edit_post' blog.pk %}" class="btn btn-outline-primary btn-lg p-0 m-0" style="width: 100%;" >Edit</a></td>
                        <td class="p-0 m-0" style="width: 100px;"><btn id="delete" data-id="{{ blog.pk }}"  class="btn btn-outline-danger btn-lg p-0 m-0  ms-2" style="width: 100%;">Delete</btn></td>
                        {% endif %} 
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <hr>
    
    {% if user.is_authenticated %}
    <form id="comment-form" method="POST" data-slug="{{ blog.slug }}" class="d-flex align-items-center mt-5 mb-5">
        {% csrf_token %}
    
        <!-- Slika korisnika -->
        <img src="{{ user.profile.profile_image.url }}" class="rounded-circle me-3 ms-5" alt="User Image" width="45" height="45" />
    
        <!-- Polje za unos komentara i dugme -->
        <div class="flex-grow-1">
            <div class="input-group">
                <input type="text" name="content" class=" border-0 border-bottom " placeholder="Add a comment..." required style="border-radius: 0; width: 50%;">
                <button type="submit" class="btn btn-outline-primary ms-2">Add comment</button>
            </div>
        </div>
    </form>
    {% endif %}
      

    <div class="ms-5 mb-5" id="comment" data-slug="{{ blog.slug }}">
        <h3>Comments:</h3>
      </div>
      

    

</div>

{% endblock content %}
